<app-menu></app-menu>

<mat-card style="width: 70%; margin: 50px auto;">
    <mat-card-header>
        <mat-card-title>
            Lista De Articulos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-flat-button color="primary" (click)="nuevo()">Nuevo Articulo</button>

        <table mat-table [dataSource]="listaArticulos" class="mat-elevation-z2" style="margin-top: 20px;">
            
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="Codigo">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="Precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> ${{element.precio}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Imagen">
                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                <td mat-cell *matCellDef="let element"> <img src="{{element.imagen}}" style="width: 150px;"> </td>
              </ng-container>

              <ng-container matColumnDef="Stock">
                <th mat-header-cell *matHeaderCellDef> Stock </th>
                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
              </ng-container>

              <ng-container matColumnDef="Sucursal">
                <th mat-header-cell *matHeaderCellDef> Sucursal </th>
                <td mat-cell *matCellDef="let element"> {{element.sucursal}} </td>
              </ng-container>

              <ng-container matColumnDef="FechaCreacion">
                <th mat-header-cell *matHeaderCellDef> Fecha De Creacion </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
              </ng-container>

              <ng-container matColumnDef="Accion">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editar(element)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="eliminar(element)">
                        <mat-icon>delete</mat-icon>
                      </button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
  </mat-card>